{% extends "base_table.html" %}
{% block content %}
<div class="card mb-4">
    {% block tableSpace %}
    <div class="card-body">
        Ici on ne sait quoi mettre, on espere avoir une idee avec le temps.
        <a target="_blank" href="https://datatables.net/">Lien de la doc</a>
        .
    </div>
    {% endblock %}
    
</div>
<div class="card mb-4">
    
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {% block tableTitle %}
            Liste des stockes
        {% endblock %}
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            {% block tableContent %}
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Dai Rios</td>
                        <td>Personnel Lead</td>
                        <td>Edinburgh</td>
                        <td>35</td>
                        <td>2012/09/26</td>
                        <td>$217,500</td>
                    </tr>

                </tbody>
            {% endblock %}
            
        </table>
    </div>
</div>
</div>
{% endblock content %}